<%@ page contentType="application/msword" pageEncoding="UTF-8" %>
<!DOCTYPE html>
<html>
<head>
    <title>tool</title>
    <style type="text/css">
            .bg {
            background-color: rgb(84, 127, 177);
            }

            tr {
            height: 20px;
            font-size: 12px;
            }

            .specialHeight {
            height: 40px;
            }
        </style>
</head>
<body>
<div style="width:800px; margin: 0 auto">
    <h1 style="text-align: center"> 接口说明文档</h1>
    <br />
    <#list table as t>
        <h2>${t.getInfo().getTitle()}</h2>
        <table border="1" cellspacing="0" cellpadding="0" width="100%">
            <tr class="bg">
                <td>接口描述</td>
                <td colspan="4">${t.getInfo().getDescription()!""}</td>
            </tr>
            <tr>
                <td>根路径</td>
                <td colspan="4">${t.getBasePath()}</td>
            </tr>
            <tr>
                <td>版本</td>
                <td colspan="4">${t.getInfo().getVersion()}</td>
            </tr>
            <tr>
                <td>HOST</td>
                <td colspan="4">${t.getHost()}</td>
            </tr>

        </table>

        <h3>公共结构体</h3>
        <#macro propertyShow properties parentIndex>
            <#if properties??&&(properties?size>0)>
            <#list properties?keys as pName >
            <#assign property=properties[pName]>
                <tr align="center">
                    <#if parentIndex == "">
                        <td>${pName_index + 1}</td>
                    <#else>
                        <td>${parentIndex}.${pName_index + 1}</td>
                    </#if>
                    <td>${pName}</td>
                    <#assign type=property.getType()>
                    <#if type == "Object"||type == "object" >
                        <td>${property.getType()}</td>
                        <td>${property.getRequired()?c}</td>
                        <td>${property.getDescription()!""}</td>
                        <#assign index=pName_index + 1>
                        <#assign incresIndex=index?string.number>
                        <@propertyShow properties=property.getProperties() parentIndex=incresIndex />
                    <#elseif type == "array">
                        <#assign items=property.getItems()>
                        <#if items.getType() == "ref">
                            <#assign ref=items.get$ref()?replace("#/definitions/","")>
                            <td>${property.getType()}[<a href="#${ref}">${ref}</a>]</td>
                            <td>${property.getRequired()?c}</td>
                            <td>${property.getDescription()!""}</td>
                        <#elseif items.getType() == "object">
                            <#assign index=pName_index + 1>
                            <#assign incresIndex=index?string.number>
                            <@propertyShow properties=items..getProperties() parentIndex=incresIndex />
                        <#else>
                            <td>${property.getType()}[${items.getType()}]</td>
                            <td>${property.getRequired()?c}</td>
                            <td>${property.getDescription()!""}</td>
                        </#if>
                    <#elseif type == "ref">
                        <#assign ref=property.get$ref()?replace("#/definitions/","")>
                        <td><a href="#${ref}">${ref}</a></td>
                        <td>${property.getRequired()?c}</td>
                        <td>${property.getDescription()!""}</td>
                    <#else>
                        <td>${property.getType()}</td>
                        <td>${property.getRequired()?c}</td>
                        <td>${property.getDescription()!""}</td>
                    </#if>
                </tr>
            </#list>
            </#if>
        </#macro>

        <#assign definitions=t.getDefinitions()>
        <#if definitions??&&(definitions?size>0)>
        <#list definitions?keys as name >
            <#assign definition=definitions[name]>
            <h4><a name="${name}">${name} ${definition.getDescription()!""}</a></h4>
            <table border="1" cellspacing="0" cellpadding="0" width="100%">
            <tr class="bg" align="center">
                <td width="10%">序号</td>
                <td width="20%">参数名</td>
                <td width="20%">数据类型</td>
                <td width="20%">是否必填</td>
                <td width="30%">说明</td>
            </tr>
            <#assign properties=definition.getProperties()>
            <@propertyShow properties=properties parentIndex="" />
            </table>
        </#list>
        </#if>
        
        <#macro baseParameterShow parameters type desc>
            <#list parameters as parameter >
                    <#if parameter.getIn() == type>
                    <h5>${desc}</h5>
                    <table border="1" cellspacing="0" cellpadding="0" width="100%">
                        <tr class="bg" align="center">
                            <td width="10%">序号</td>
                            <td width="20%">参数名</td>
                            <td width="20%">数据类型</td>
                            <td width="20%">是否必填</td>
                            <td width="30%">说明</td>
                        </tr>
                        <#assign index=1>
                        <#list parameters as parameter >
                            <#if parameter.getIn() == type>
                            <tr align="center">
                                <td>${index}</td>
                                <td>${parameter.getName()}</td>
                                <td>${parameter.getType()}</td>
                                <td>${parameter.getRequired()?c}</td>
                                <td>${parameter.getDescription()!""}</td>
                            </tr>
                            <#assign index=index+1>
                            </#if>
                        </#list>
                    </table>
                    <#break>  
                    </#if>
                </#list> 
        </#macro>

        <#macro bodyParameterShow parameters type desc>
        <#list parameters as parameter >
                <#if parameter.getIn() == type>
                <h5>${desc}</h5>
                <table border="1" cellspacing="0" cellpadding="0" width="100%">
                    <tr class="bg" align="center">
                        <td width="10%">序号</td>
                        <td width="20%">参数名</td>
                        <td width="20%">数据类型</td>
                        <td width="20%">是否必填</td>
                        <td width="30%">说明</td>
                    </tr>
                    <#assign index=1>
                    <#list parameters as parameter >
                        <#if parameter.getIn() == type>
                            <#assign schema=parameter.getSchema()>
                            <#if schema.getProperties()??&&(schema.getProperties()?size>0)>
                                <tr align="center">
                                    <td>${index}</td>
                                    <td>${parameter.getName()}</td>
                                    <td>object</a></td>
                                    <td>${parameter.getRequired()?c}</td>
                                    <td>${parameter.getDescription()!""}</td>
                                </tr>
                                <@propertyShow properties=schema.getProperties() parentIndex=index?string />
                            </#if>
                            <#if schema.class.simpleName == "ArrayModel">
                                <#assign model=schema.getItems()> 
                                <#assign itemType=model.getType()>
                                <#if itemType == "object">
                                    <tr align="center">
                                        <td>${index}</td>
                                        <td>${parameter.getName()}</td>
                                        <td>array[{...}]</td>
                                        <td>${parameter.getRequired()?c}</td>
                                        <td>${parameter.getDescription()!""}</td>
                                    </tr>
                                    <#assign properties=model.getProperties()>
                                    <@propertyShow properties=properties parentIndex=index?string />
                                <#elseif itemType == "ref">
                                    <#assign ref=model.get$ref()?replace("#/definitions/","")>
                                    <tr align="center">
                                        <td>${index}</td>
                                        <td>${parameter.getName()}</td>
                                        <td>array[<a href="#${ref}">${ref}</a>]</td>
                                        <td>${parameter.getRequired()?c}</td>
                                        <td>${parameter.getDescription()!""}</td>
                                    </tr>
                                <#else>
                                    <tr align="center">
                                        <td>${index}</td>
                                        <td>${parameter.getName()}</td>
                                        <td>array[${type}]</td>
                                        <td>${parameter.getRequired()?c}</td>
                                        <td>${parameter.getDescription()!""}</td>
                                    </tr>
                                </#if>
                            </#if>
                            <#if schema.getReference()??>
                                <tr align="center">
                                    <td>${index}</td>
                                    <td>${parameter.getName()}</td>
                                    <#assign ref=schema.getReference()?replace("#/definitions/","")>
                                    <td><a href="#${ref}">${ref}</a></td>
                                    <td>${parameter.getRequired()?c}</td>
                                    <td>${parameter.getDescription()!""}</td>
                                </tr>
                            </#if>
                            <#assign index=index+1>
                        </#if>
                    </#list>
                </table>
                <#break>  
                </#if>
            </#list> 
    </#macro>

        <#macro operationBaseShow operation path method>
            <#assign description=operation.getDescription()>
            <#assign parameters=operation.getParameters()>
            <#assign responses=operation.getResponses()>
            <h4>${path} ${method}</h4>
            <h5>  接口描述</h5>
            <h6>    ${description!""}</h>
            <@baseParameterShow parameters=parameters type="header" desc="请求头参数" />
            <@baseParameterShow parameters=parameters type="path" desc="path参数" />
            <@baseParameterShow parameters=parameters type="query" desc="query参数" />
            <@baseParameterShow parameters=parameters type="formData" desc="formData参数" />
            <@bodyParameterShow parameters=parameters type="body" desc="请求消息体"/>

        </#macro>
        <h3>接口详细描述</h3>
        <#assign paths=t.getPaths()>
        <#if paths??&&(paths?size>0)>
        <#list paths?keys as path >
            <#assign resource=paths[path]>  
            <#if resource.getDelete()??>
                <#assign operation=resource.getDelete()>
                <@operationBaseShow operation=operation path=path method="delete" />   
            </#if>
            <#if resource.getGet()??>
                <#assign operation=resource.getGet()>
                <@operationBaseShow operation=operation path=path method="get" />
            </#if>
            <#if resource.getHead()??>
                <#assign operation=resource.getHead()>
                <@operationBaseShow operation=operation path=path method="head" />
            </#if>
            <#if resource.getOptions()??>
                <#assign operation=resource.getOptions()>
                <@operationBaseShow operation=operation path=path method="options" />
            </#if>
            <#if resource.getPatch()??>
                <#assign operation=resource.getPatch()>
                <@operationBaseShow operation=operation path=path method="patch" />
            </#if>
            <#if resource.getPost()??>
                <#assign operation=resource.getPost()>
                <@operationBaseShow operation=operation path=path method="post" />
            </#if>
            <#if resource.getPut()??>
                <#assign operation=resource.getPut()>
                <@operationBaseShow operation=operation path=path method="put" />
            </#if>
        </#list>   
        </#if>


    </#list>
</div>
</body>
</html>
